# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Expo (Frontend)
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Native (Frontend)
frontend/.kotlin/
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/ios/
frontend/android/

# Metro (Frontend)
frontend/.metro-health-check*

# Backend
backend/.env
backend/.env.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# Typescript
*.tsbuildinfo
